@import "tailwindcss";

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-navy-dark {
  background-color: #101e2d;
}
.bg-navy {
  background-color: #15283c;
}
.hover-navy:hover {
  background-color: #15283c;
  color: #fff;
}
.text-navy {
  color: #15283c;
}
.bg-orange {
  background-color: #ff5722;
}
.hover-orange:hover {
  background-color: #ff5722;
  color: #fff;
}
.text-orange {
  color: #ff5722;
}
.hover-menu-board:hover, .hover-menu-board:focus, .hover-menu-board:active {
  background-color: #19314c;
  border-radius: 4px;
  & span {color: #ffa726;}
}
.hover-menu-user:hover, .hover-menu-user:focus, .hover-menu-user:active { 
  background-color: #19314c;
  border-radius: 4px;
  & span {color: #e25702;}
}
.hover-menu-staff:hover, .hover-menu-staff:focus, .hover-menu-staff:active { 
  background-color: #19314c;
  border-radius: 4px;
  & span {color: #66dc7e;}
}
.hover-menu-sales:hover, .hover-menu-sales:focus, .hover-menu-sales:active { 
  background-color: #19314c;
  border-radius: 4px;
  & span {color: #60a5fa;}
}
.hover-menu-inventory:hover, .hover-menu-inventory:focus, .hover-menu-inventory:active { 
  background-color: #19314c;
  border-radius: 4px;
  & span {color: #c084fc;}
}
.hover-menu-booking:hover, .hover-menu-booking:focus, .hover-menu-booking:active { 
  background-color: #19314c;
  border-radius: 4px;
  & span {color: #f472b6;}
}
.hover-menu-boarding:hover, .hover-menu-boarding:focus, .hover-menu-boarding:active { 
  background-color: #19314c;
  border-radius: 4px;
  & span {color: #facc15;}
}

/* Custom Scrollbar Styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #718096;
}

/* Hide scrollbar for Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 transparent;
}


